aiohttp==3.3.2
beautifulsoup4==4.6.0
flake8==3.5.0
Flask==0.12.2
flask-restplus==0.10.1
pyorient==1.5.5
requests==2.12.4
orientdb_data_layer
psycopg2==2.7.4
SQLAlchemy==1.1.9
python-swiftclient
python-keystoneclient
Flask-SQLAlchemy==2.1
Flask-SuperAdmin==1.7.1
python-slugify==1.2.5
petl==1.1.1
toolz==0.9.0
gunicorn
